
.btn-grad {background-image: linear-gradient(to right, #2973a5 0%, #5a759c  51%, #1d1d4d  100%)}
.btn-grad {
   padding: 12px 0;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #7fa6c7;
   border-radius: 10px;
   display: block;
   text-decoration: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
